/* line 5, ../sass/theme.scss */
body {
  color: #666666;
  font-family: 'Raleway', sans-serif;
  line-height: 1.6;
}

/* line 11, ../sass/theme.scss */
#page {
  overflow: hidden;
  position: relative;
}

/* top */
/* line 17, ../sass/theme.scss */
#top {
  background: #181818;
  color: white;
  font-size: .714em;
  text-transform: uppercase;
}
/* line 22, ../sass/theme.scss */
#top p, #top .nav {
  margin: 0;
}
/* line 25, ../sass/theme.scss */
#top .text-note {
  padding: 18px 0;
}

/* Drop down menu */
/* line 31, ../sass/theme.scss */
.dropdown-menu {
  background: #181818;
  border: none;
  border-radius: 0;
  margin: 0;
}
/* line 37, ../sass/theme.scss */
.dropdown-menu > li > a {
  line-height: 1.6;
  padding: 5px 20px 8px;
}
/* line 40, ../sass/theme.scss */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: transparent;
}
/* line 45, ../sass/theme.scss */
.dropdown-menu h3 {
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

/* line 52, ../sass/theme.scss */
.list-thumbs-pro .product {
  margin-bottom: 0;
  overflow: hidden;
}
/* line 55, ../sass/theme.scss */
.list-thumbs-pro .product + .product {
  border-top: 1px dotted #282828;
  margin-top: 20px;
  padding-top: 20px;
}
/* line 61, ../sass/theme.scss */
.list-thumbs-pro h4 {
  padding-right: 0;
}
/* line 64, ../sass/theme.scss */
.list-thumbs-pro .product-thumb-info-image {
  float: left;
  margin-bottom: 0;
}
/* line 68, ../sass/theme.scss */
.list-thumbs-pro .product-thumb-info-content {
  padding: 3px 20px 0 75px;
}
/* line 71, ../sass/theme.scss */
.list-thumbs-pro .product-remove {
  float: right;
}

/* line 76, ../sass/theme.scss */
.list-md-pro {
  color: #666666;
}
/* line 78, ../sass/theme.scss */
.list-md-pro .product-thumb-info-content h4 {
  margin-bottom: 15px;
  padding-right: 0;
  text-transform: uppercase;
}

/* line 86, ../sass/theme.scss */
.nav-top > li {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
/* line 88, ../sass/theme.scss */
.nav-top > li > a {
  border-radius: 0;
  color: white;
  padding: 18px 15px;
}
/* line 92, ../sass/theme.scss */
.nav-top > li > a .caret {
  color: #999999;
  margin-left: 10px;
}
/* line 96, ../sass/theme.scss */
.nav-top > li > a:hover, .nav-top > li > a:focus {
  background-color: transparent;
}
/* line 100, ../sass/theme.scss */
.nav-top > li:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
/* line 104, ../sass/theme.scss */
.nav-top > .langs > a {
  padding-left: 20px;
}
/* line 107, ../sass/theme.scss */
.nav-top .dropdown-menu {
  background: #282828;
}
/* line 112, ../sass/theme.scss */
.nav-top .list-thumbs-pro .product + .product {
  border-top-color: #666666;
}

/* line 119, ../sass/theme.scss */
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent;
  border-color: transparent;
}

/* menu-shop */
/* line 125, ../sass/theme.scss */
.menu-shop {
  padding-right: 15px;
  position: relative;
  /* end dropdown-menu*/
}
/* line 128, ../sass/theme.scss */
.menu-shop i {
  font-size: 1.3em;
}
/* line 131, ../sass/theme.scss */
.menu-shop .dropdown-menu {
  color: white;
  min-width: 415px;
  text-transform: none;
  padding: 20px;
}
/* line 136, ../sass/theme.scss */
.menu-shop .dropdown-menu a {
  color: white;
}
/* line 138, ../sass/theme.scss */
.menu-shop .dropdown-menu a:hover, .menu-shop .dropdown-menu a:focus {
  color: #1abc9c;
}
/* line 142, ../sass/theme.scss */
.menu-shop .dropdown-menu .item-cat a {
  color: #999999;
}
/* line 144, ../sass/theme.scss */
.menu-shop .dropdown-menu .item-cat a:hover, .menu-shop .dropdown-menu .item-cat a:focus {
  color: #1abc9c;
}

/* line 151, ../sass/theme.scss */
.cart-buttons {
  padding-top: 20px;
}
/* line 153, ../sass/theme.scss */
.cart-buttons .btn {
  margin-left: 10px;
}

/* line 158, ../sass/theme.scss */
.cart-subtotals {
  border-top: 1px dotted #666666;
  font-family: Roboto Slab, serif;
  font-size: 1.071em;
  margin-top: 20px;
  padding-top: 20px;
  text-transform: uppercase;
}

/* line 166, ../sass/theme.scss */
.shopping-bag {
  background-color: #1abc9c;
  border-radius: 50%;
  color: white;
  display: block;
  font-size: .714em;
  height: 13px;
  line-height: 12px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 10px;
  width: 13px;
}

/* Languages */
/* line 182, ../sass/theme.scss */
.langs .dropdown-menu {
  min-width: 75px;
}
/* line 185, ../sass/theme.scss */
.langs .dropdown-menu > li + li {
  border-top: 1px solid #333333;
}
/* line 188, ../sass/theme.scss */
.langs .dropdown-menu > li > a {
  padding-left: 20px;
  padding-right: 15px;
}

/* My Account */
/* line 196, ../sass/theme.scss */
.my-account .dropdown-menu {
  font-size: 1em;
  padding: 10px 0;
}
/* line 199, ../sass/theme.scss */
.my-account .dropdown-menu > li > a {
  color: white;
}
/* line 201, ../sass/theme.scss */
.my-account .dropdown-menu > li > a:hover, .my-account .dropdown-menu > li > a:focus {
  color: #1abc9c;
}

/* menu */
/* line 208, ../sass/theme.scss */
.logo {
  display: block;
  float: left;
  margin: 16px 0;
}

/* line 214, ../sass/theme.scss */
.navbar-main {
  background-color: white;
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.5);
  z-index: 5;
}
/* line 221, ../sass/theme.scss */
.navbar-main .container {
  position: relative;
}

/* line 226, ../sass/theme.scss */
.navbar-main .navbar-nav {
  font-family: Roboto Slab, serif;
}
/* line 228, ../sass/theme.scss */
.navbar-main .navbar-nav > li > a {
  color: #8e8e8e;
  font-size: .800em;
   font-family:'Raleway', serif;
  font-weight: 400;
  padding: 32px 20px 33px;
  text-transform: uppercase;
}
/* line 24, ../sass/mixins/_mixins.scss */
.navbar-main .navbar-nav > li > a:hover, .navbar-main .navbar-nav > li > a:focus {
  color: #000000;
}
/* line 234, ../sass/theme.scss */
.navbar-main .navbar-nav > li > a:hover, .navbar-main .navbar-nav > li > a:focus {
  background-color: transparent;
}
/* line 246, ../sass/theme.scss */
.navbar-main .navbar-nav > .active > a,
.navbar-main .navbar-nav > .active > a:hover,
.navbar-main .navbar-nav > .active > a:focus,
.navbar-main .navbar-nav > .open > a,
.navbar-main .navbar-nav > .open > a:hover,
.navbar-main .navbar-nav > .open > a:focus,
.navbar-main .navbar-nav .open .dropdown-menu > .active > a,
.navbar-main .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-main .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #000000;
  background-color: transparent;
}
/* line 251, ../sass/theme.scss */
.navbar-main .navbar-nav .open > a:after {
  bottom: 0;
  height: 0;
  border-bottom: 6px solid #181818;
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  content: "";
  left: 50%;
  margin-left: -5px;
  position: absolute;
  width: 0;
}
/* line 264, ../sass/theme.scss */
.navbar-main .navbar-nav .open .dropdown-menu > li > a {
  line-height: 1.6;
  padding: 5px 20px 8px;
}
/* line 269, ../sass/theme.scss */
.navbar-main .navbar-nav .dropdown-menu {
  padding: 10px 0;
}
/* line 271, ../sass/theme.scss */
.navbar-main .navbar-nav .dropdown-menu li a {
	font-size: .900em;
font-family: 'Raleway', serif;
  color: white;
}
/* line 273, ../sass/theme.scss */
.navbar-main .navbar-nav .dropdown-menu li a:hover, .navbar-main .navbar-nav .dropdown-menu li a:focus {
  color: #b7a890;
}
/* line 279, ../sass/theme.scss */
.navbar-main .navbar-nav .dropdown-menu > .active > a,
.navbar-main .navbar-nav .dropdown-menu > .active > a:hover,
.navbar-main .navbar-nav .dropdown-menu > .active > a:focus {
  background-color: transparent;
  color: #1abc9c;
}
/* line 283, ../sass/theme.scss */
.navbar-main .navbar-nav .dropdown-menu .item-cat a {
  color: #999999;
}
/* line 285, ../sass/theme.scss */
.navbar-main .navbar-nav .dropdown-menu .item-cat a:hover, .navbar-main .navbar-nav .dropdown-menu .item-cat a:focus {
  color: #1abc9c;
}

/* line 292, ../sass/theme.scss */
.dropdown-submenu {
  position: relative;
}
/* line 294, ../sass/theme.scss */
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -10px;
}
/* line 299, ../sass/theme.scss */
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 4px 0 4px 4px;
  border-left-color: #dddddd;
  margin-top: 6px;
  margin-right: -10px;
}
/* line 312, ../sass/theme.scss */
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
/* line 316, ../sass/theme.scss */
.dropdown-submenu:hover > a:after {
  border-left-color: white;
}

/* line 320, ../sass/theme.scss */
.navbar-nav > .megamenu {
  position: static;
}
/* line 322, ../sass/theme.scss */
.navbar-nav > .megamenu .dropdown-menu {
  left: 0;
  margin: 0 15px;
  padding: 0;
  right: 0;
}
/* line 327, ../sass/theme.scss */
.navbar-nav > .megamenu .dropdown-menu .sub-menu > li > a {
  display: block;
  padding-bottom: 10px;
  white-space: nowrap;
}
/* line 333, ../sass/theme.scss */
.navbar-nav > .megamenu .mega-menu-content {
  padding: 0 25px;
}
/* line 335, ../sass/theme.scss */
.navbar-nav > .megamenu .mega-menu-content .menu-column {
  padding: 30px 20px;
}
/* line 337, ../sass/theme.scss */
.navbar-nav > .megamenu .mega-menu-content .menu-column + .menu-column {
  border-left: 1px solid #282828;
  display: table-cell;
  float: none;
}
/* line 343, ../sass/theme.scss */
.navbar-nav > .megamenu .mega-menu-content h3 {
  color: white;
  font-family: 'Raleway', sans-serif;
}
/* line 347, ../sass/theme.scss */
.navbar-nav > .megamenu .mega-menu-content .product-thumb-info-content {
  padding-right: 0;
}
/* line 349, ../sass/theme.scss */
.navbar-nav > .megamenu .mega-menu-content .product-thumb-info-content p {
  font-family: 'Raleway', sans-serif;
}

/* nav-white */
/* line 357, ../sass/theme.scss */
.navbar-main .nav-white .megamenu.open > a:after {
  border-bottom-color: rgba(0, 0, 0, 0.1);
}

/* line 362, ../sass/theme.scss */
.nav-white > .megamenu .dropdown-menu {
  background: white;
}
/* line 364, ../sass/theme.scss */
.nav-white > .megamenu .dropdown-menu li a {
  color: #666666;
}
/* line 366, ../sass/theme.scss */
.nav-white > .megamenu .dropdown-menu li a:hover, .nav-white > .megamenu .dropdown-menu li a:focus {
  color: #1abc9c;
}
/* line 372, ../sass/theme.scss */
.nav-white > .megamenu .mega-menu-content .menu-column {
  padding: 30px 20px;
}
/* line 374, ../sass/theme.scss */
.nav-white > .megamenu .mega-menu-content .menu-column + .menu-column {
  border-left-color: rgba(0, 0, 0, 0.1);
}
/* line 378, ../sass/theme.scss */
.nav-white > .megamenu .mega-menu-content h3 {
  color: #333333;
}
/* line 381, ../sass/theme.scss */
.nav-white > .megamenu .mega-menu-content .sub-menu > li > a {
  color: #666666;
}
/* line 383, ../sass/theme.scss */
.nav-white > .megamenu .mega-menu-content .sub-menu > li > a:hover, .nav-white > .megamenu .mega-menu-content .sub-menu > li > a:focus {
  color: #1abc9c;
}
/* line 387, ../sass/theme.scss */
.nav-white > .megamenu .mega-menu-content .list-thumbs-pro .product + .product {
  border-top-color: rgba(0, 0, 0, 0.1);
}


/* owl carousel */
/* line 482, ../sass/theme.scss */
.owl-theme .owl-controls {
  left: 0;
  margin-top: 0;
  position: absolute;
  width: 100%;
}


/* home 3 */
/* line 1127, ../sass/theme.scss */
.navbar-main-narrow {
  box-shadow: none;
}
/* line 1129, ../sass/theme.scss */
.navbar-main-narrow .logo {
  display: inline-block;
  float: none;
  margin: 30px auto;
}
/* line 1134, ../sass/theme.scss */
.navbar-main-narrow .navbar-header {
  border-bottom: 3px solid #282828;
  float: none;
  text-align: center;
}
/* line 1140, ../sass/theme.scss */
.navbar-main-narrow .navbar-collapse {
  border-bottom: 1px solid #dddddd;
  padding-left: 0;
  padding-right: 0;
}
/* line 1147, ../sass/theme.scss */
.navbar-main-narrow .navbar-nav > li > a {
  padding: 18px 20px 17px;
}
/* line 1150, ../sass/theme.scss */
.navbar-main-narrow .navbar-nav > .megamenu .dropdown-menu {
  margin-top: -1px;
}
/* line 1154, ../sass/theme.scss */
.navbar-main-narrow .navbar-act {
  font-size: .857em;
}

/* line 1159, ../sass/theme.scss */
.navbar-act > li > a {
  color: #333333;
}

/* line 1164, ../sass/theme.scss */
.navbar-default .navbar-toggle {
  border: none;
  border-radius: 0;
  margin: 36px 0 0;
  padding: 0;
}
/* line 1169, ../sass/theme.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #333333;
  width: 20px;
}
/* line 1173, ../sass/theme.scss */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
/* line 1175, ../sass/theme.scss */
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #1abc9c;
}

/* home 4 */
/* line 1183, ../sass/theme.scss */
.navbar-main-drop {
  /* main nav */
  /* end main nav */
}
/* line 1184, ../sass/theme.scss */
.navbar-main-drop .menu-shop {
  padding-right: 0;
}
/* line 1187, ../sass/theme.scss */
.navbar-main-drop .navbar-act {
  font-size: .857em;
}
/* line 1190, ../sass/theme.scss */
.navbar-main-drop .navbar-act > li > a {
  padding-bottom: 33px;
  padding-top: 32px;
}
/* line 1194, ../sass/theme.scss */
.navbar-main-drop .shopping-bag {
  top: 23px;
}
/* line 1197, ../sass/theme.scss */
.navbar-main-drop .navbar-header {
  float: none;
  text-align: center;
}
/* line 1200, ../sass/theme.scss */
.navbar-main-drop .navbar-header .logo {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
/* line 1206, ../sass/theme.scss */
.navbar-main-drop .navbar-toggle {
  display: block;
  float: left;
}
/* line 1210, ../sass/theme.scss */
.navbar-main-drop .navbar-collapse.collapse {
  display: none !important;
}
/* line 1214, ../sass/theme.scss */
.navbar-main-drop .navbar-collapse.in {
  overflow-y: auto;
}
/* line 1218, ../sass/theme.scss */
.navbar-main-drop .collapse.in {
  display: block !important;
}
/* line 1221, ../sass/theme.scss */
.navbar-main-drop .navbar-left, .navbar-main-drop .pull-right {
  float: none !important;
}
/* line 1225, ../sass/theme.scss */
.navbar-main-drop .navbar-collapse {
  background-color: black;
  min-width: 260px;
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  left: 0;
  top: 85px;
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -moz-transition: -moz-transform .2s ease-in-out;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
}
/* line 1241, ../sass/theme.scss */
.navbar-main-drop .navbar-collapse .navbar-nav > li {
  float: none;
}
/* line 1243, ../sass/theme.scss */
.navbar-main-drop .navbar-collapse .navbar-nav > li > a {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;
}
/* line 1249, ../sass/theme.scss */
.navbar-main-drop .navbar-collapse .navbar-nav > li > a.dropdown-toggle:before {
  content: "\f107";
  font-family: 'FontAwesome';
  position: absolute;
  right: 15px;
  top: 11px;
  color: #7e7e7e;
  font-size: 1.5em;
  font-weight: 700;
}
/* line 1259, ../sass/theme.scss */
.navbar-main-drop .navbar-collapse .navbar-nav > li > a.dropdown-toggle:hover:before, .navbar-main-drop .navbar-collapse .navbar-nav > li > a.dropdown-toggle:focus:before {
  color: white;
}
/* line 1266, ../sass/theme.scss */
.navbar-main-drop .navbar-collapse .dropdown-menu {
  background: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: none;
  float: none;
  padding: 10px 20px !important;
  position: static;
}
/* line 1275, ../sass/theme.scss */
.navbar-main-drop .navbar-collapse .dropdown-submenu > .dropdown-menu {
  border-top: none;
  margin-top: 0;
}
/* line 1281, ../sass/theme.scss */
.navbar-main-drop .collapse.in {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 1289, ../sass/theme.scss */
.navbar-main-drop .navbar-nav .open > a:after {
  display: none;
}
/* line 1292, ../sass/theme.scss */
.navbar-main-drop .navbar-nav .dropdown-menu {
  font-family: 'Raleway', sans-serif;
  font-size: .928em;
}
/* line 1295, ../sass/theme.scss */
.navbar-main-drop .navbar-nav .dropdown-menu .dropdown-menu {
  font-size: 1em;
}
/* line 1302, ../sass/theme.scss */
.navbar-main-drop .navbar-nav > .megamenu .dropdown-menu {
  margin: 0;
}
/* line 1305, ../sass/theme.scss */
.navbar-main-drop .navbar-nav > .megamenu .mega-menu-content {
  padding: 0 20px;
}
/* line 1307, ../sass/theme.scss */
.navbar-main-drop .navbar-nav > .megamenu .mega-menu-content .row {
  margin-left: 0;
  margin-right: 0;
}
/* line 1311, ../sass/theme.scss */
.navbar-main-drop .navbar-nav > .megamenu .mega-menu-content .menu-column {
  display: block;
  float: none;
  padding: 0;
  width: 100%;
}
/* line 1316, ../sass/theme.scss */
.navbar-main-drop .navbar-nav > .megamenu .mega-menu-content .menu-column + .menu-column {
  border-left: none;
  display: block;
  margin-top: 20px;
}
/* line 1326, ../sass/theme.scss */
.navbar-main-drop .dropdown-submenu > a:after {
  display: none;
}
/* line 1329, ../sass/theme.scss */
.navbar-main-drop .dropdown-submenu > .dropdown-menu {
  display: block;
}
/* line 1336, ../sass/theme.scss */
.navbar-main-drop .navbar-collapse .navbar-nav > li > a:hover, .navbar-main-drop .navbar-collapse .navbar-nav > li > a:focus {
  background-color: #1abc9c;
  color: white;
}
/* line 1346, ../sass/theme.scss */
.navbar-main-drop .navbar-collapse .navbar-nav > .active > a,
.navbar-main-drop .navbar-collapse .navbar-nav > .active > a:hover,
.navbar-main-drop .navbar-collapse .navbar-nav > .active > a:focus,
.navbar-main-drop .navbar-collapse .navbar-nav > .open > a,
.navbar-main-drop .navbar-collapse .navbar-nav > .open > a:hover,
.navbar-main-drop .navbar-collapse .navbar-nav > .open > a:focus {
  color: white;
  background-color: #1abc9c;
}
/* line 1350, ../sass/theme.scss */
.navbar-main-drop .navbar-collapse .navbar-nav > .active > a:before {
  color: white;
}

