
.headertop {position:relative;z-index:2}
.imholder {float:left;width:150px;margin-bottom:20px}

	 /*.container {width:1170px!important}*/
.dropdown-menu a{color:#ccccd0!important;font-size:12px}

#sitemap ul li {
padding: 2px 0 3px 28px;
background: url(../images/dash_h.gif) 4px 9px no-repeat;
}

.pagetitle {font-size:20px!important;padding-bottom:5px}

#sitemap {
	/* padding: 10px 0 10px 20px; */
}

	#sitemap div.lnk {
		background: url(../images/link.gif) left 4px no-repeat;
		padding: 0 0 8px 14px;
		font-weight: bold;
	}
	
	#sitemap a {
	}
	
	#sitemap ul {
		margin: 0 0 12px 4px;
		padding: 0px 0 0 0;
		background: url(../images/dash_v.gif) 2px top repeat-y;
		font-size: 11px;
		list-style-type:none;
	}
		#sitemap ul li {
			padding: 2px 0 3px 28px;
			background: url(../images/dash_h.gif) 4px 9px no-repeat;
		}

	#sitemap ul .last {
		background: url(../images/dash_hb.gif) 1px top no-repeat;
		padding-bottom: 0;
	}
	
		#sitemap ul ul {
			margin: 2px 0 8px 4px;
			padding: 7px 0 0 0;
		}
			#sitemap ul ul .last {
				background: url(../images/dash_hb.gif) 1px 1px no-repeat;
				padding-bottom: 0;
			}



.inputEntity label {
	color: #666666;
	font-size: 14px;
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}
.inputEntity {
	margin-bottom: 15px;
}
.inputEntity input, .inputEntity select, .inputEntity textarea {
	height: 40px;
	line-height: 40px;
	padding: 5px 10px;
	border: 1px solid #d2d7d5;
	display: block;
	width: 100%;
}

.inputEntity select{padding-top:0px;padding-bottom:0px;}

/*select 2*/
.select2-container {width:100%;padding:0px}
.select2-container .select2-choice, .select2-drop {color:#666666;border: 1px solid #d2d7d5;font-size:15px}
.select2-container .select2-choice {height: 40px;line-height: 40px;}
.select2-search input {padding:0px}

.inputEntity textarea {
	height: 125px;
}

.clearBoth {clear:both}

.content-breadcrumb {/*background-color:#dff6fe;*/
					 color:#5a6569;
					 font-size:12px;}
.content-breadcrumb .notselected {color:#5a6569;}
.content-breadcrumb .notselected a{color:#5a6569;
									text-decoration:none}
.content-breadcrumb .notselected a:hover{color:#0c9fc0}									
.content-breadcrumb .selected a{color:#000000;
								text-decoration:none}
								
								
.printabledata, .printabledata * {font-size:13px}


.rtl {direction:rtl;}	


/*custom website*/
.color1 {color:#8E0037}
.color2 {color:#000000}
.color3 {color:#FFFFFF}
/*.color4 {color:#1F3E97}*/
.color4 {color:#084e8b}
.color5 {color:#222222}
.color6 {color:#2257C1}
.tablewidth {width:1100px}

	
.printabledata, .printabledata * {font-size:13px}




.rowleft {background-color:#c0dcf3}
.rowright {background-color:#eaf3f3}
.rowrighteven {background-color:#f7ffff}
.nopadding {padding:0}
.bordertable {border-collapse:collapse;
              border:1px solid black}
.bordercell {border:1px solid black}			  

/*widths*/
.smallwidth {width:30px}
.mediumwidth {width:175px}
.largewidth {width:275px}

/* messages*/
.itsok {color:blue}
.itsnotok {color:red}
.msgclass {padding:5px}

/*message beautification*/
.errorclass {border:1px solid red}
.errorclass1 {font-style:italic;
              font-size:9px;
			  color:red;
			  padding-left:10px}
.star_required {color:red}

/* share*/
.box {	width:170px!important;}
  #example2{
    float:right;
  }
  .sharrre .box{
    background:#6f838c;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(#aaaaaa,0),color-stop(#aaaaaa,1));
    background:-webkit-linear-gradient(top, #aaaaaa 0%, #aaaaaa 100%);
    background:-moz-linear-gradient(top, #aaaaaa 0%, #aaaaaa 100%);
    background:-o-linear-gradient(top, #aaaaaa 0%, #aaaaaa 100%);
    background:linear-gradient(top, #aaaaaa 0%, #aaaaaa 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#aaaaaa',GradientType=0 );
    -webkit-box-shadow:0 1px 1px #d3d3d3;
    -moz-box-shadow:0 1px 1px #d3d3d3;
    box-shadow:0 1px 1px #d3d3d3;
    height:22px;
    display:inline-block;
    position:relative;
    padding:0px 55px 0 8px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    font-size:12px;
    float:left;
    clear:both;
    overflow:hidden;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
  }
  .sharrre .left{
    line-height:22px;
    display:block;
    white-space:nowrap;
    text-shadow:0px 1px 1px rgba(255,255,255,0.3);
    color:#ffffff;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
  }
  .sharrre .middle{
    position:absolute;
    height:22px;
    top:0px;
    right:30px;
    width:0px;
    background:#747474;
    text-shadow:0px -1px 1px #363f49;
    color:#fff;
    white-space:nowrap;
    text-align:left;
    overflow:hidden;
    -webkit-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    -moz-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    -webkit-transition:width 0.3s linear;
    -moz-transition:width 0.3s linear;
    -o-transition:width 0.3s linear;
    transition:width 0.3s linear;
  }
  .sharrre .middle a{
    color:#fff;
    font-weight:bold;
    padding:0 9px 0 9px;
    text-align:center;
    float:left;
    line-height:22px;
    -webkit-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    -moz-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
  }
  .sharrre .right{
    position:absolute;
    right:0px;
    top:0px;
    height:100%;
    width:45px;
    text-align:center;
    line-height:22px;
    color:#ffffff;
    background:#747474;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(#aaaaaa,0),color-stop(#aaaaaa,1));
    background:-webkit-linear-gradient(top, #747474 0%, #747474 100%);
    background:-moz-linear-gradient(top, #747474 0%, #747474 100%);
    background:-o-linear-gradient(top, #747474 0%, #747474 100%);
    background:linear-gradient(top, #747474 0%, #747474 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#747474', endColorstr='#747474',GradientType=0 );
  }
  .sharrre .box:hover{
    padding-right:130px;
  }
  .sharrre .middle a:hover{
    text-decoration:none;
  }
  .sharrre .box:hover .middle{
    width:90px;
  }
  
#leadstory-wrapper1 { height:350px;width:100%;margin:0 auto }
#leadstory_container1 {display:block; position:relative; height:350px;overflow:hidden}


#leadstory-wrapper { height:700px;width:100%;margin:0 auto }
#leadstory_container {display:block; position:relative; height:700px;overflow:hidden}


